<h1>Register</h1>

<form method="POST" action="/register">
    <div>
        <label>Email</label>
        <input type="text" name="email" />
    </div>
    <div>
        <label>Password</label>
        <input type="password" name="password" />
    </div>
    <div>
        <input type="submit" value="Register" />
    </div>
</form>